<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  
    
    
    <div id="imageContainer">
        <div id="imagePlace">
            <h1><%= name %></h1>
            <h1><%= message_id %></h1>
            <img src=<%= name %> >

        </div>
        <div id="buttons">
            <button id="one">U1</button>
             <button id="two">U2</button>
             <button id="three">U3</button>
             <button id="four">U4</button>
             <button id="five">↻</button>
             <button id="six">V1</button>
             <button id="seven">V2</button>
             <button id="eight">V3</button>
             <button id="nine">V4</button>
             </div>
             

    </div>
    <script>
        // stringify the data passed from router to ejs (within the EJS template only)
        const sent_messageId = JSON.parse('<%- JSON.stringify(message_id) %>')
    </script>
    
    
    <script src="main.js"></script>

    
</body>
</html>

