body{
  background-color: rgba(169, 169, 169, 0.288);
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    display: inline;

}

#buttons{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 575px;
    max-height: 600px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 572px;
    max-height: 600px;
  }
  
  .yellow
  {
    display: block;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin: 10px;
  }

  .listContainer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

